{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="intro openrefine" id="openrefine">
        {% if nextReady %}
            <div class="createwikidata-response">
                <p class="success createwikidata-response-positive">{{ response|linebreaksbr }}</p>
                <p>Once complete click 'Next'.</p>
                <a href="/" class="btn btn-success back"><i class="fa-solid fa-house"></i>&nbsp Home</a>
                <a href="/createwikidata" class="btn btn-primary start">Next &nbsp<i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        {% else %}
            {% if file == '' %}
                <div class="createwikidata-response">
                    <p class="fail">{{ response }}</p>
                    <p class="fail">No File 'ready4or'</p>
                    <a href="/" class="btn btn-secondary"><i class="fa-solid fa-arrow-left-long"></i>&nbsp Begin Again</a>
                </div>
            {% elif 'FAIL' in response %}
                <div class="createwikidata-response">
                    <p class="fail">{{ response }}</p>
                    <a href="/" class="btn btn-secondary"><i class="fa-solid fa-arrow-left-long"></i>&nbsp Begin Again</a>
                </div>
            {% else %}
                <div class="openrefine-form">
                    <p>Start 'Open Refine' locally and press 'Start' here for semi-automatic refining.</p>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <p>To skip semi-automatic refining and jump to creating wikidata-items, press 'Skip'.</p>
                        <p class="info">When skipping: make sure to complete refining step manually and keep the new csv exported handy.</p>

                        <a href="/createwikidata" class="btn btn-secondary back skip">Skip &nbsp<i class="fa-solid fa-forward"></i></a>
                        <input type="submit" value="Start" class="btn btn-primary start">
                    </form>

                </div>
            {% endif %}
        {% endif %}
    </div>

    <script>
        $(function(){
            $('form').on('submit', function(e){
                $('body').append('<div class="loading overlay-box" id="loading">' +
                    '<i class="fa-solid fa-list-check"></i> Working...</div>')
                document.getElementsByClassName('openrefine')[0].style.filter = "blur(5px)";
                document.getElementsByClassName('start')[0].setAttribute("disabled", "");
                document.getElementsByClassName('skip')[0].classList.add('disabled')
            });
        })
    </script>

{% endblock %}