{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="intro createwikidata">

        {% if message %}
            {% if 'SUCCESS' in message %}
                <div class="createwikidata-response">
                    <p class="success">{{message}}</p>
                    <p>Process complete. Please download the file for IDs of new items.</p>
                    <a href="{% url 'downloadFinalFile' %}" download class="btn btn-secondary back"
                       id="download-button" onclick="updateHome()"><i class="fa-solid fa-down-long"></i>&nbsp Download</a>
                    <div id="download-button-update"></div>
                    <button onclick="location.href='/'" class="btn btn-primary start" id="home-button" disabled>
                        <i class="fa-solid fa-house"></i>&nbsp Home</button>
                </div>
            {% else %}
                <div class="createwikidata-response">
                    <p class="fail">Failed{{ message }}</p>
                    <a href="/" class="btn btn-primary"><i class="fa-solid fa-house"></i>&nbsp Home</a>
                </div>
           {% endif %}

        {% else %}
            <div class="page-form">
                <h5>Please select the file for creation of wikidata.</h5> <br/>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Start" class="btn btn-primary start">
                </form>
            </div>

        {% endif %}
    </div>

    <script>
        $(function(){
            $('form').on('submit', function(e){
                $('body').append('<div class="loading overlay-box" id="loading">' +
                    '<i class="fa-solid fa-list-check"></i> Working...</div>')
                document.getElementsByClassName('createwikidata')[0].style.filter = "blur(5px)";
                document.getElementsByClassName('start')[0].setAttribute("disabled", "");
            });
        });
    </script>

    <script>
        function updateHome(){
            document.getElementById('home-button').removeAttribute('disabled');
        }
    </script>

{% endblock %}