{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="intro dataprep">

        {% if message %}
            {% if 'SUCCESS' in message %}
                <div class="dataprep-response">
                    <p class="success">{{message}}</p>
                    <p>Next Step: 'Refining' Press 'Next'.</p>
                    <p class="info">Download now to do refining manually.</p>
                    <a href="{% url 'downloadReady4or' %}" download class="btn btn-secondary back"
                       id="download-button"><i class="fa-solid fa-down-long"></i>&nbsp Download _ready4or file</a>
                    <div id="download-button-update"></div>
                    <a href = "/openrefine" class="btn btn-primary start">Next &nbsp<i class="fa-solid fa-arrow-right-long"></a>
                </div>
            {% else %}
                <div class="dataprep-response">
                    <p class="fail">{{ message }}</p>
                    <a href="/" class="btn btn-primary"><i class="fa-solid fa-arrow-left-long"></i>&nbsp Begin Again</a>
                </div>
           {% endif %}

        {% else %}
            <div class="page-form">
                <h5>Please provide below inputs before we begin data preparation.</h5> <br/>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Start" class="btn btn-primary start">
                </form>
            </div>

        {% endif %}

    </div>

    <script>
        $(function(){
            $('form').on('submit', function(e){
                $('body').append('<div class="loading overlay-box" id="loading">' +
                    '<i class="fa-solid fa-list-check"></i> Working...</div>')
                document.getElementsByClassName('dataprep')[0].style.filter = "blur(5px)";
                document.getElementsByClassName('start')[0].setAttribute("disabled", "");
            });
        })
    </script>

{% endblock %}