#sdsuLogo {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: 5em;
}

.landing-page{
    margin-top: 9%;
    text-align: center;

}

.home-para{
    text-align: justify; !important;
}

.intro{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 5%;
    text-align: justify;
    margin-bottom: 5%;
}

.info {
    font-size: small;
    color: dimgray;
}

.start {
    float: right;
}

.back {
    float: left;
}

.dataprep{
    margin-top: 5%;
}

.success {
    color: green;
}

.fail {
    color: darkred;
}

.overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    color: firebrick;
    font-weight: bold;
}

.page-form {
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.openrefine-form {
    padding: 70px 0;
    text-align: center;
}

.dataprep-response {
    padding: 70px 0;
    text-align: center;
}

.createwikidata-response{
    padding: 70px 0;
    text-align: center;
}