#sdsuLogo {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 5em;
}

.intro{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: black;
    margin-top: 5%;
    text-align: justify;
}

.start {
    float: right;
}

.back {
    float: left;
}

.dataprep{
    margin-top: 5%;
}

.success {
    color: green;
}

.fail {
    color: darkred;
}

