{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="intro">
        <h2>Wikidata Metadata For Faculty</h2>
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis commodi corporis, deleniti distinctio doloribus eligendi fugit, illo illum laudantium magnam maiores natus neque nesciunt perferendis provident quia repellat, totam.</span>
            <span>Dicta dolor laudantium nostrum, porro quam quia ratione! Accusantium assumenda atque corporis deleniti dolore ducimus ea, facere fugit illo inventore, iusto optio, pariatur provident ullam voluptas voluptates voluptatibus! Dolore, rem!</span><span>Ad animi, architecto consectetur ducimus ex excepturi in laboriosam laudantium molestiae mollitia necessitatibus omnis optio possimus quas quidem quisquam quos sapiente tempora velit veniam. Adipisci facere id minima officiis repudiandae.</span><span>Aliquam culpa dignissimos dolor, eum illo inventore ipsa sed? Amet at autem, doloremque ducimus est exercitationem, fugiat fugit hic officia quia, quidem sed soluta veniam voluptas voluptate? Dolorum, officia placeat!</span><span>Ab, aut commodi doloremque dolores dolorum esse est, fugiat harum illum laboriosam maiores minus nam nisi odit officiis pariatur provident quae repudiandae sint voluptates.Architecto nisi nulla tenetur. Quia, ullam.</span>
            <span>Accusantium, adipisci aliquam animi assumenda atque autem deserunt dolorum eligendi expedita explicabo facilis fuga fugit incidunt, nemo odio quas sit ullam velit! Dolor eos excepturi nisi provident ratione sed voluptates.</span>
            <span>Aperiam delectus eligendi enim itaque laborum laudantium placeat quibusdam ratione repellat! Ad beatae cupiditate, doloremque eveniet explicabo facilis incidunt libero nam odio praesentium qui rem reprehenderit, saepe sapiente sed sint?</span>
            <span>Aperiam distinctio esse hic nisi officia quibusdam quis ratione soluta? Accusantium architecto assumenda, aut beatae eum explicabo ipsa ipsam molestiae nesciunt nisi officia pariatur praesentium qui quia soluta suscipit vel?</span>
            <span>Accusamus asperiores, autem cupiditate debitis deserunt dignissimos ducimus esse explicabo illo ipsam magnam magni nemo nostrum, placeat quam qui ratione recusandae sequi sit, tempore totam ut vel vitae voluptas voluptatem?</span>
            <span>Ad animi at atque beatae distinctio dolore, dolores ducimus eius illum iste maiores non, officiis perferendis quae quod repudiandae, sed! Asperiores, ea natus neque nostrum provident quasi tempora unde voluptates!</span>
        </p>
    </div>
    <a href = "dataprep/" class="btn btn-primary start">Start</a>
{% endblock %}
