{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
<style>
   body {
       background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
</style>
{% endblock %}

{% block content %}
    <div class="landing-page">
        <h2>Wikidata Metadata For Faculty</h2>
        <br/>
        <p class="home-para">
            The San Diego State University <a href="https://www.sdsu.edu/" target="_blank">(SDSU)</a> Faculty and Institutional Name Authority 'WikiProject' is sponsored by SDSU Seed Grant Program <a href="https://research.sdsu.edu/research_affairs/university_grants_program" target="_blank">(University Grants Program)</a>.
            This project aims to build faculty profiles for emeritus, tenured, and tenure-track SDSU faculty in Wikidata, help the Library improve the name authority cataloging practices, promote the faculty’s research outputs, and enhance SDSU’s reputation in research.
            This site is intended to facilitate the editing process in Wikidata.
        </p>
        <p class="home-para">
            This Wikiproject started in February 2021 and is expected to finish in December 2022.
            There are three steps: metadata schema and workflow redesign; data collection, data cleaning, and data processing; and data bulk upload and collection data enrichment.
            The data model for this project can be found <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_PCC_Wikidata_Pilot/San_Diego_State_University/SDSU_Institutional_Data_Project" target="_blank">here</a>.
            Faculty data is scraped from SDSU departmental websites. Faculty names are reconciled against Wikidata name entities using OpenRefine. We create and enhance scholar profiles for SDSU’s current faculty in Wikidata using Pywikibot, a Python library and collection of scripts that automate work in Wikidata.
            We then connect faculty profiles with their works on Wikidata, link their profile with their information on other platforms, such as ORCID and Library of Congress Name Authority IDs, and add Wikidata URIs in the suitable SDSU collections for faculty works.
        </p>

        <p class="info">
            PI: Greta Heng (Cataloging and Metadata Strategies Librarian at SDSU) <br/>
            RA: Sheetal R Prasad (SDSU), Andre Hulet (San Jose State University)
        </p>

        <a href = "/dataprep" class="btn btn-primary">Let's Go &nbsp<i class="fa-solid fa-arrow-right-long"></i></a>
    </div>

    <a href = "/options" class="btn btn-sm">Steps &nbsp<i class="fa fa-th" aria-hidden="true"></i></a>

{% endblock %}
