{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
<style>
   body {
       background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
</style>
{% endblock %}

{% block content %}
    <div class="landing-page">
        <h2>Wikidata Metadata For Faculty</h2>
        <br/>
        <p>
            <span>In this project we are using python scripts to do data preparation, refining and wikidata item creation.</span>
            <span>The UI is developed with django.</span>
            <span>The pure python scripts can be found at <a href="https://github.com/gretaheng/WikidataFaculty"
                                                             target="_blank">Wikidata Faculty</a>.</span>
            <span>The back-end code along with UI code can be found at <a href="https://github.com/gretaheng/SDSUMetadataWebsite"
                                                                          target="_blank">SDSU Metadata Website</a>.</span>
        </p>

        <p class="info"><span>The code showcased here is developed as per SDSU University Library requirements.</span></p>

        <a href = "dataprep/" class="btn btn-primary">Let's Start  <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>

{% endblock %}
